body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}
#header {
  background-color: lightgray;
  text-align: center;
}
#game-container {
  display: flex;
  flex-grow: 1;
}
#footer {
  text-align: center;
}
.gridBox {
  box-sizing: border-box;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player1-card,
#player2-card {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 1%;
}
#player1-grid-container,#player2-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  aspect-ratio: 1/1;
}
#deployment-grid-container{
  display: grid;
  background-color: white;
  width: 100%;
  height: 100%;
  gap: 12.5%;
}
h2{
  margin: 0 0 10px 0;
}
h3{
  margin: 0 0 .5em 0;
}